/*---样式清除开始----*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/*---样式清除结束------*/

/*---------背景颜色----------*/
body {
  background-color: #f6f6f8;
}


/*---------普通导航栏-----------*/
.navBar{
  height: 50px;
  background-color: #202329;
  .navContent {
    height: 100%;
    display: flex;
  }
  /*-----------标签页------------*/
  .navTabs {
    font-size: 14px;
    margin: 0 30px;
    .itemWrapper {
      line-height: 50px;
      display: flex;
      color: #fff;
      .navItem {
        padding: 0 15px;
        text-align: center;
        .active {
          color: #21a9ff;
        }
        span {
          cursor: pointer;
          transition: all linear .2s;
          &:hover {
            color: #21a9ff;
          }
        }
      }
    }
  }
  /*----------用户操作---------------*/
  .navUser {
    flex: 2;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & > * {
      margin: 0 10px;
    }
  }
}

/*-------头部固定导航栏------*/
.fixedNavBar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 #d8dae3;
  .navContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    .navSearch {
      width: 800px;
      display: flex;
    }
  }
}

/*----------导航内容外围样式----------*/
.navWrapper {
  max-width: 1300px;
  min-width: 900px;
  height: 100%;
  margin: 0 auto;
}

/*----------logo样式----------*/
.navLogo {
  height: 100%;
  img {
    height: 100%;
  }
}
